{% extends "index/base.html" %}

{% block content %}
    <form action="{% url 'paste_new' %}" method="POST">
        {% csrf_token %}

        {{ form }}

        <input type="submit" value="Create" class="button">
    </form>

    <script type="text/javascript">
    var codeNode = document.querySelector('textarea');
    var syntaxList = {{ js_syntaxes|safe }};

    var codeEditor = CodeMirror.fromTextArea(codeNode, {
        lineNumbers: true
    });

    $('select').on('change', function() {
        var getSyntax = function(name) {
            for(var i = 0; i < syntaxList.length; i += 1) {
                if(syntaxList[i].name == name) {
                    return syntaxList[i].id;
                }
            }

            console.warn('Mode not found: ' + name);

            return 'text';
        }

        codeEditor.setOption('mode', getSyntax($('option:selected', $(this)).text()));
    }).trigger('change');
    </script>
{% endblock %}