{% extends "index/base.html" %}

{% load humanize %}
{% load paste_author %}

{% block content %}
    <div class="row">
        <div class="small-12 large-9 columns">
            <h1>{{ paste.title }}</h1>
            <h3 class="subheader">added {{ paste.created|naturaltime }}</h3>
            
            <div class="vertical-spacer-30"></div>

            <textarea id="code" class="cm-s-default" data-syntax="{{ paste.syntax.string_id }}">{{ paste.content }}</textarea>
        </div>
        <div class="small-12 large-3 columns">
            {% include 'index/pastes/partials/_list.html' with short=True %}
        </div>
    </div>


    <script type="text/javascript">
    var codeNode = document.querySelector('#code');
    var syntax = codeNode.getAttribute('data-syntax');

    CodeMirror.fromTextArea(codeNode, {
        mode: syntax,
        lineNumbers: true,
        readOnly: true
    });
    </script>
{% endblock %}